<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ring Road Mall</title>
    <link rel="stylesheet" href="static/welcome.css">

    <link rel="icon" href="static/image/favicon.ico">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,500&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body style="background-image: url('static/image/office2.jpg');background-size:cover;background-repeat: no-repeat;">
<div class = "welcome ">
    <h1 style="font-size: 3.5rem; font-weight: bold;"> Welcome !</h1>
    <h2 style="font-size: 2.0rem; font-weight: bold;"> <em>Have A Nice Day Ahead Sir !!</em></h2>
    <a class="btn btn-primary btn-lg" id="clr" href="{{url_for('check')}}" role="button">Go to Attendance Page</a>

</div>

</body>
</html>
